.our__price {
  padding: 100px 50px 0;
}

@media(max-width: 768px) {
  .our__price {
    padding: 70px 25px 0
  }
}

@media (max-width:425px) {
  .our__price {
    padding: 30px 20px 0
  }
}

.price__list {
  display: grid;
  row-gap: 50px;
}

@media (max-width: 425px) {
  .price__list {
    row-gap: 20px;
  }
}

.price__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 35px 20px;
}

@media (max-width: 1287px) {
  .price__item {
    justify-content: center;
    padding: 20px;
  }
}

.price__works {
  flex-basis: 256px;
  height: 100px;
  background: #760592;
  border-radius: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 15px;
  margin: 0 45px;
}

@media (max-width: 1287px) {
  .price__works {
    margin: 0 0 35px;
    flex-basis: 100%;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .price__works {
    font-size: 20px;
  }
}

.price__block {
  flex-basis: 20%;
  margin: 0 10px 0 0;
}

@media (max-width: 768px) {
  .price__block {
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }
}

.price__coast {
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  margin: 0;
}

.price__working-time {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.price__about-works {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  flex-basis: 50%;
}

@media (max-width: 1252px) {
  .price__about-works {
    flex-basis: 70%;
  }
}

@media (max-width: 768px) {
  .price__about-works {
    flex-basis: 100%;
    margin: 15px 0 0;
    text-align: center;
    font-size: 16px;
  }
}